<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.Home">

<select id="list" resultType="com.board.dto.HomeDto">
	SELECT
		bno
		, title
		, contents
		, writer
		, viewcnt
		, to_char(regdate, 'YYYY-MM-DD HH24:MI') AS regdate
	FROM
		board
</select>

<insert id="write" parameterType="com.board.dto.HomeDto">
	INSERT INTO board 
		(
			title
			, writer 
			, contents
		)
	VALUES
		(
			#{title}
			, #{writer}
			, #{contents}
		)
</insert>

</mapper> 