<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.Home">

	<select id="list" resultType="com.board.dto.HomeDto">
		SELECT
			bno
			, title
			, contents
			, writer
			, viewcnt
			, to_char(regdate, 'YYYY-MM-DD HH24:MI') AS regdate
		FROM
			board
		ORDER BY bno DESC
	</select>
	
	<insert id="write" parameterType="com.board.dto.FileDto" useGeneratedKeys="true" keyProperty="bno">
		<selectKey keyProperty="bno" resultType="int" order="AFTER">
			SELECT CURRVAL('board_bno_seq')
		</selectKey>
			INSERT INTO board 
				(
					title
					, writer 
					, contents
				)
			VALUES
				(
					#{title}
					, #{writer}
					, #{contents}
				)
	</insert>
	
	<insert id="writeFile" parameterType="hashMap">
		INSERT INTO file_board 
			(
				bno
				, org_fname
				, save_fname
				, fpath
			)
		VALUES
			(
				#{bno}
				, #{org_fname}
				, #{save_fname}
				, #{fpath}
			)
	</insert>
	
	<select id="detail" parameterType="int" resultType="com.board.dto.FileDto">
		SELECT b.bno
		FROM 
			board b 
		LEFT JOIN 
			file_board fb 
		ON 
			b.bno = fb.bno
		WHERE
			b.bno = #{bno}
	</select>
	
	<select id="detailList" parameterType="int" resultType="com.board.dto.FileDto">
		<![CDATA[
			SELECT 
				b.bno
				, title
				, contents
				, writer
				, org_fname
				, save_fname
				, fpath
			FROM 
				board b 
			LEFT JOIN 
				file_board fb 
			ON 
				fb.bno = b.bno
			WHERE
				b.bno = #{bno}
		]]>
	</select>
	
	<update id="update" parameterType="com.board.dto.HomeDto" >
		UPDATE 
			board
		SET
			title = #{title}
			, contents = #{contents}
			, writer = #{writer}
		WHERE
			bno = #{bno}
	</update>
	
	<delete id="delete" parameterType="com.board.dto.HomeDto">
		DELETE FROM board WHERE bno = #{bno}
	</delete>
	
	<select id="count" resultType="int">
		SELECT count(bno) FROM board;
	</select>
	
	<select id="paging" parameterType="hashMap" resultType="com.board.dto.HomeDto">
		SELECT  
			bno
			, title
			, contents
			, writer
			, viewcnt
			, to_char(regdate, 'YYYY-MM-DD HH24:MI') AS regdate
		FROM board
		ORDER BY bno DESC
		LIMIT #{postNum} OFFSET #{displayPost}
	</select>
	
	<select id="fileDownload" parameterType="int" resultType="com.board.dto.FileDto">
		SELECT
			b.bno
			, fb.org_fname
			, fb.save_fname
			, fb.fpath
		FROM 
			board b 
		LEFT JOIN 
			file_board fb 
		ON 
			b.bno = fb.bno
		WHERE
			b.bno = #{bno}
	</select>

</mapper> 